<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>88_thumb</string>
	<string>angrya_thumb</string>
	<string>bba_thumb</string>
	<string>bs_thumb</string>
	<string>bs2_thumb</string>
	<string>bz_thumb</string>
	<string>cj_thumb</string>
	<string>come_thumb</string>
	<string>cool_thumb</string>
	<string>crazya_thumb</string>
	<string>cry_thumb</string>
	<string>cza_thumb</string>
	<string>dizzya_thumb</string>
	<string>good_thumb</string>
	<string>gza_thumb</string>
	<string>h_thumb</string>
	<string>hatea_thumb</string>
	<string>hearta_thumb</string>
	<string>heia_thumb</string>
	<string>hsa_thumb</string>
	<string>k_thumb</string>
	<string>kbsa_thumb</string>
	<string>kl_thumb</string>
	<string>laugh_thumb</string>
	<string>ldln_thumb</string>
	<string>lovea_thumb</string>
	<string>mb_thumb</string>
	<string>money_thumb</string>
	<string>nm_thumb</string>
	<string>no_thumb</string>
	<string>ok_thumb</string>
	<string>qq_thumb</string>
	<string>sad_thumb</string>
	<string>sada_thumb</string>
	<string>sb_thumb</string>
	<string>shamea_thumb</string>
	<string>sk_thumb</string>
	<string>sleepa_thumb</string>
	<string>sleepya_thumb</string>
	<string>smilea_thumb</string>
	<string>sw_thumb</string>
	<string>sweata_thumb</string>
	<string>t_thumb</string>
	<string>tootha_thumb</string>
	<string>tza_thumb</string>
	<string>unheart_thumb</string>
	<string>wq_thumb</string>
	<string>x_thumb</string>
	<string>ye_thumb</string>
	<string>yhh_thumb</string>
	<string>yw_thumb</string>
	<string>yx_thumb</string>
	<string>z2_thumb</string>
	<string>zhh_thumb</string>
	<string>zy_thumb</string>
</array>
</plist>
