<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>88_thumb.png</string>
	<string>angrya_thumb.png</string>
	<string>bba_thumb.png</string>
	<string>bs_thumb.png</string>
	<string>bs2_thumb.png</string>
	<string>bz_thumb.png</string>
	<string>cj_thumb.png</string>
	<string>come_thumb.png</string>
	<string>cool_thumb.png</string>
	<string>crazya_thumb.png</string>
	<string>cry_thumb.png</string>
	<string>cza_thumb.png</string>
	<string>dizzya_thumb.png</string>
	<string>good_thumb.png</string>
	<string>gza_thumb.png</string>
	<string>h_thumb.png</string>
	<string>hatea_thumb.png</string>
	<string>hearta_thumb.png</string>
	<string>heia_thumb.png</string>
	<string>hsa_thumb.png</string>
	<string>k_thumb.png</string>
	<string>kbsa_thumb.png</string>
	<string>kl_thumb.png</string>
	<string>laugh_thumb.png</string>
	<string>ldln_thumb.png</string>
	<string>lovea_thumb.png</string>
	<string>mb_thumb.png</string>
	<string>money_thumb.png</string>
	<string>nm_thumb.png</string>
	<string>no_thumb.png</string>
	<string>ok_thumb.png</string>
	<string>qq_thumb.png</string>
	<string>sad_thumb.png</string>
	<string>sada_thumb.png</string>
	<string>sb_thumb.png</string>
	<string>shamea_thumb.png</string>
	<string>sk_thumb.png</string>
	<string>sleepa_thumb.png</string>
	<string>sleepya_thumb.png</string>
	<string>smilea_thumb.png</string>
	<string>sw_thumb.png</string>
	<string>sweata_thumb.png</string>
	<string>t_thumb.png</string>
	<string>tootha_thumb.png</string>
	<string>tza_thumb.png</string>
	<string>unheart_thumb.png</string>
	<string>wq_thumb.png</string>
	<string>x_thumb.png</string>
	<string>ye_thumb.png</string>
	<string>yhh_thumb.png</string>
	<string>yw_thumb.png</string>
	<string>yx_thumb.png</string>
	<string>z2_thumb.png</string>
	<string>zhh_thumb.png</string>
	<string>zy_thumb.png</string>
</array>
</plist>
